.footer {
    background-color: $secondBackgroundColor;

    padding-top: 60px;
    padding-bottom: 60px;

    &__wrapper {
        display: flex;
        align-items: baseline;
    }

    &__social {
        margin: 0;
    }
}

.social-footer {
    margin-left: 70px;

    &__text {
        @include font(14px, 1.14, 0.03em);

        margin-bottom: 20px;

        font-weight: 700;
        text-transform: uppercase;

        color: $secondLogoColor;
    }
}

.address {
    margin-top: 20px;

    &__geo {
        @include font(14px, 1.71, 0.03em);
        font-style: normal;

        color: $secondLogoColor;
    }

    &__link {
        @include font(14px, 1.71, 0.03em);
        font-style: normal;

        color: rgba(255, 255, 255, 0.6);
    }
}

.subscription {
    display: block;
    margin-left: auto;

    &__form {
        display: block;
        padding-right: 0;
    }

    &__label {
        @include font(14px, 1.14, 0.03em);
        font-weight: 700;

        text-transform: uppercase;

        color: $secondLogoColor;
    }

    &__mail {
        display: flex;
        margin-top: 20px;
    }

    &__input {
        @include font(16px, 1.25, 0.03em);
        @include size(358px, 50px);

        padding-left: 15px;
        margin-right: 12px;

        font-weight: 400;

        color: rgba(255, 255, 255, 0.6);
        background-color: $secondBackgroundColor;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: $mainBorderRadius;
    }

    &__btn {
        @include font(16px, 1.88, 0.06em);
        @include size(200px, 50px);

        display: inline-flex;

        font-weight: 700;

        align-items: center;
        justify-content: center;

        border: none;
        cursor: pointer;
        color: $secondLogoColor;
        background-color: $accentColor;
        border-radius: $mainBorderRadius;
        box-shadow: $mainBoxShadow;

        transition: background-color $mainTransition;
    }

    &__btn:hover,
    &__btn:focus,
    &__btn:active {
        background-color: $bigBtnHoverColor;
    }

    &__btn::after {
        content: '';
        @include size(24px, 24px);

        margin-left: 10px;

        background-image: url(../images/footer-ico/icon\ send.svg);
        background-size: contain;
    }
}
