.footer {
    @include base {
        background-color: $secondBackgroundColor;

        padding-top: 60px;
        padding-bottom: 60px;

        &__social {
            margin: 0;
            justify-content: center;
        }

        &__logo {
            display: flex;
            justify-content: center;
        }
    }

    @include tablet {
        &__info {
            margin-left: 60px;
        }

        &__logo {
            padding-top: 0;
        }
    }

    @include desktop {
        &__wrapper {
            display: flex;
            align-items: baseline;
        }
    }
}

.social-footer {
    @include base {
        text-align: center;
        margin-top: 60px;

        &__text {
            @include font(14px, 1.14, 0.03em);

            margin-bottom: 20px;

            font-weight: 700;
            text-transform: uppercase;

            color: $secondLogoColor;
        }
    }

    @include tablet {
        margin-top: 0;
        margin-right: 74px;
    }

    @include desktop {
        text-align: left;
        margin-left: 70px;
    }
}

.address {
    @include base {
        margin-top: 20px;

        text-align: center;

        &__geo {
            @include font(14px, 1.71, 0.03em);
            font-style: normal;

            color: $secondLogoColor;
        }

        &__link {
            @include font(14px, 1.71, 0.03em);
            font-style: normal;

            color: rgba(255, 255, 255, 0.6);
        }
    }
    @include desktop {
        text-align: left;

        &__geo {
            @include font(14px, 1.71, 0.03em);
            font-style: normal;

            color: $secondLogoColor;
        }

        &__link {
            @include font(14px, 1.71, 0.03em);
            font-style: normal;

            color: rgba(255, 255, 255, 0.6);
        }
    }
}

.subscription {
    @include base {
        display: block;

        margin-top: 60px;

        &__form {
            display: block;
            padding-right: 0;
        }

        &__label {
            @include font(14px, 1.14, 0.03em);

            margin-left: 41px;

            font-weight: 700;

            text-transform: uppercase;

            color: $secondLogoColor;
        }

        &__mail {
            margin-top: 20px;
        }

        &__input {
            @include font(16px, 1.25, 0.03em);
            @include size(290px, 50px);

            padding-left: 15px;
            margin-right: 12px;

            font-weight: 400;

            color: rgba(255, 255, 255, 0.6);
            background-color: $secondBackgroundColor;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: $mainBorderRadius;
        }

        &__btn {
            @include font(16px, 1.88, 0.06em);
            @include size(200px, 50px);

            display: inline-flex;

            font-weight: 700;

            align-items: center;
            justify-content: center;

            margin-top: 20px;
            margin-left: 45px;

            border: none;
            cursor: pointer;
            color: $secondLogoColor;
            background-color: $accentColor;
            border-radius: $mainBorderRadius;
            box-shadow: $mainBoxShadow;

            transition: background-color $mainTransition;
        }

        &__btn:hover,
        &__btn:focus,
        &__btn:active {
            background-color: $bigBtnHoverColor;
        }

        &__btn::after {
            content: '';
            @include size(24px, 24px);

            margin-left: 10px;

            background-image: url(../images/footer-ico/icon\ send.svg);
            background-size: contain;
        }
    }

    @include mobile {
        &__label {
            margin-left: 137px;
        }

        &__input {
            @include size(450px, 50px);
        }

        &__btn {
            margin-left: 140px;
        }
    }

    @include tablet {
        margin-left: 150px;
    }

    @include desktop {
        display: block;
        margin-left: auto;

        &__form {
            display: block;
            padding-right: 0;
        }

        &__label {
            @include font(14px, 1.14, 0.03em);
            font-weight: 700;

            text-transform: uppercase;

            color: $secondLogoColor;
        }

        &__mail {
            display: flex;
            margin-top: 20px;
        }

        &__input {
            @include font(16px, 1.25, 0.03em);
            @include size(358px, 50px);

            padding-left: 15px;
            margin-right: 12px;

            font-weight: 400;

            color: rgba(255, 255, 255, 0.6);
            background-color: $secondBackgroundColor;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: $mainBorderRadius;
        }

        &__btn {
            @include font(16px, 1.88, 0.06em);
            @include size(200px, 50px);

            display: inline-flex;

            font-weight: 700;

            margin-top: 0;
            margin-left: 12px;

            align-items: center;
            justify-content: center;

            border: none;
            cursor: pointer;
            color: $secondLogoColor;
            background-color: $accentColor;
            border-radius: $mainBorderRadius;
            box-shadow: $mainBoxShadow;

            transition: background-color $mainTransition;
        }
    }
}

.footer__wrapper--tablet {
    @include mobile {
        display: flex;

        flex-direction: column;
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    @include tablet {
        justify-content: baseline;
    }
}
