.adv-photo {
    display: flex;
    gap: 30px;

    &__item {
        flex-basis: calc(100% / 3 - 30px);
        position: relative;
    }

    &__box {
        @include size(370px, 70px);

        display: flex;
        position: absolute;

        background: rgba(47, 48, 58, 0.8);

        bottom: 0;
        left: 0;

        justify-content: center;
        align-items: center;
    }

    &__text {
        @include font(14px, 1.14, 0.03em);
        font-weight: 700;

        text-transform: uppercase;

        color: $secondLogoColor;
    }
}
