.advertising {
    @include base {
        &__list {
            display: block;
            margin-bottom: 30px;
        }
        &__title {
            @include font(14px, 1.14, 0.03em);

            text-align: center;

            font-weight: 700;
            text-transform: uppercase;

            color: $mainTextColor;

            padding-bottom: 26px;
        }

        &__content {
            @include font(14px, 1.71, 0.03em);

            color: $secondTextColor;
        }

        &__wrap {
            display: flex;

            justify-content: center;
            align-items: center;

            height: 120px;

            background-color: $portfolioButtonColor;
            background-repeat: no-repeat;

            margin-bottom: 30px;
        }
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &__list {
            flex-basis: calc(100% / 2 - 30px);
        }

        &__title {
            text-align: start;
        }
    }

    @include desktop {
        display: flex;
        flex-wrap: nowrap;
        &__wrap {
            @include size(270px, 120px);
        }

        &__list + &__list {
            margin-left: 30px;
        }

        &__list {
            display: block;
            margin-bottom: 0;
        }

        &__title {
            text-align: start;
        }
    }
}

@include base {
    .section--padding-bottom-0 {
        padding-bottom: 0;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);

    margin: -1px;
}
