.clients {
    display: flex;
    justify-content: space-between;

    &__link {
        @include size(170px, 92px);

        display: flex;
        
        fill: $mainIconColor;

        border-radius: $mainBorderRadius;
        border: 1px solid rgba(175, 177, 184, 1);

        justify-content: center;
        align-items: center;

        transition: fill $mainTransition;
    }

    &__link:hover,
    &__link:active,
    &__link:focus {
        fill: $accentColor;
        border: 1px solid $accentColor;
    }
}
