.clients {
    @include base {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &__link {
            @include size(210px, 92px);

            display: flex;

            fill: $mainIconColor;

            border-radius: $mainBorderRadius;
            border: 1px solid rgba(175, 177, 184, 1);

            justify-content: center;
            align-items: center;

            transition: fill $mainTransition;
        }

        &__link:hover,
        &__link:active,
        &__link:focus {
            fill: $accentColor;
            border: 1px solid $accentColor;
        }
    }

    @include mobile {
        flex-direction: row;
        flex-wrap: wrap;

        &__item {
            flex-basis: calc(100% / 2 - 30px);
        }
    }

    @include tablet {
        &__item {
            flex-basis: calc(100% / 3 - 30px);
        }

        &__link {
            @include size(226px, 92px);
        }
    }

    @include desktop {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        &__link {
            @include size(170px, 92px);
        }
    }
}
