.section--repainted {
    background-color: $portfolioButtonColor;
}

.teammate {
    display: flex;
    gap: 30px;

    &__item {
        background-color: $secondLogoColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc(100% / 4 - 30px);
    }

    &__card {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__name {
        @include font(16px, 1.19, 0.03em);
        font-weight: 500;
        text-align: center;

        margin-bottom: 10px;
    }

    &__profession {
        @include font(16px, 1.19, 0.03em);
        text-align: center;

        color: $secondTextColor;

        margin-bottom: 16px;
    }
}

.social {
    display: flex;
    margin-left: 32px;

    &__ico {
        @include size(44px, 44px);

        display: flex;

        border-radius: 50%;

        background: $secondLogoColor;
        fill: $mainIconColor;

        justify-content: center;
        align-items: center;

        transition: background $mainTransition, fill $mainTransition;
    }

    &__ico--repainted {
        background: rgba(255, 255, 255, 0.1);
        fill: $secondLogoColor;
    }

    &__ico:hover,
    &__ico:active,
    &__ico:focus {
        fill: $secondLogoColor;
        background: $accentColor;
    }

    &__item + &__item {
        margin-left: 10px;
    }
}
