.backdrop {
    @include size(100%, 100%);

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity $mainTransition, visibility $mainTransition;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    scale: 1;
    z-index: 99;

    min-width: 530px;
    min-height: 580px;

    background-color: $secondLogoColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: $mainBorderRadius;

    transition: transform $mainTransition;

    &__close-btn {
        @include size(30px, 30px);

        position: absolute;
        top: 8px;
        right: 8px;

        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        background-color: $secondLogoColor;
    }

    &__close-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $mainTextColor;
        transition: fill $mainTransition;
    }

    &__close-btn:hover svg,
    &__close-btn:focus svg {
        fill: $accentColor;
    }

    &__title {
        @include font(20px, 1.15, 0.03em);

        text-align: center;
        margin-bottom: 12px;

        font-weight: 700;

        color: $mainTextColor;
    }

    &__submit {
        @include font(16px, 2.38, 0.06em);

        display: block;

        padding: 10px 52px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        font-weight: 700;

        border: none;
        cursor: pointer;
        color: $secondLogoColor;
        background-color: $accentColor;
        border-radius: $mainBorderRadius;

        transition: box-shadow $mainTransition, background-color $mainTransition;
    }

    &__submit:hover,
    &__submit:focus,
    &__submit:active {
        box-shadow: $mainBoxShadow;
        background-color: $bigBtnHoverColor;
    }
}

.form {
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    &__wrap {
        position: relative;
    }

    &__label {
        @include font(12px, 1.17, 0.01em);

        margin-bottom: 4px;

        color: $secondTextColor;
    }

    &__input {
        @include size(100%, 40px);

        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: $mainBorderRadius;
        outline: none;

        transition: border $mainTransition;
    }

    &__ico {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);

        fill: $mainTextColor;

        transition: fill $mainTransition;
    }

    &__input:focus-visible {
        border: 1px solid $accentColor;
    }

    &__input:focus-visible + svg {
        fill: $accentColor;
    }

    &__input--comment {
        height: 120px;
        padding-top: 12px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 16px;
        outline: none;
    }
}

.submit {
    display: flex;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;

        margin-left: 14px;

        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;

        color: $secondTextColor;
    }

    &__link {
        @include font(14px, 1.71, 0.03em);

        text-decoration-line: underline;

        color: $accentColor;

        margin-left: 3px;
    }

    &__checkbox {
        @include size(16px, 15px);

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid $mainTextColor;
        border-radius: 2px;

        margin-right: 7px;

        transition: background $mainTransition, border $mainTransition;
    }
}

.submit input:checked + label .submit__checkbox {
    background: $accentColor;
    border: none;
}

.no-scroll {
    overflow: hidden;
}
