.contacts {
    display: none;

    &__link:hover svg {
        fill: $accentColor;
    }

    @include tablet {
        display: block;
        margin-left: auto;

        &__item {
            display: block;
        }

        &__icon {
            margin-right: 10px;
            fill: currentColor;
        }

        &__link {
            @include font(14px, 1.15, 0.02em);

            display: flex;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 5px;

            color: $secondTextColor;

            font-weight: 500;
        }
    }

    @include desktop {
        display: flex;

        &__link {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        &__item + &__item {
            margin-left: 50px;
        }
    }
}
