* {
    /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: $mainTextColor;
    font-size: 14px;
}

a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
    resize: none;
}

::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.container {
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: $mainTextColor;

    margin-bottom: 30px;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: $accentColor;
}
